@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 89.4%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --light-gray: rgb(145, 145, 145);
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 89.4%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/** 總體佈局 塊尺寸 */
@layer components {
  :root {
    --catalog-width-expand: 12rem;
    --catalog-width-fold: 2rem;

    --header-height: 3rem;
  }
  .catalog {
    @apply hidden sm:block;
  }
  .catalog-expand {
    width: var(--catalog-width-expand);
  }
  .catalog-fold {
    width: var(--catalog-width-fold);
  }

  .header {
    @apply flex sm:hidden;
    height: var(--header-height);
  }

  .content-wrap {
    @apply h-[calc(100vh-var(--header-height))] sm:h-screen;
  }
}

/** Companies 子頁面佈局 塊尺寸 */
@layer components {
  :root {
    --title-height: 4rem;
    --operate-bar-height: 3rem;
    --bottom-height: 3rem;

    --filter-side-default-expand: 12rem;
    --filter-side-default-fold: 0rem;

    --filter-side-default-top-height: 3rem;

    --paginator-height: 3rem;
  }

  .title {
    height: var(--title-height);
  }
  .main-wrap {
    height: calc(100% - var(--title-height));
  }
  .filter-side-expand {
    width: var(--filter-side-default-expand);
  }
  .filter-side-fold {
    width: var(--filter-side-default-fold);
  }
  .operate-bar {
    height: var(--operate-bar-height);
  }

  .sub-wrap {
    height: calc(100% - var(--operate-bar-height));
  }
  .bottom {
    height: var(--bottom-height);
  }
  .filter-default-top {
    height: var(--filter-side-default-top-height);
  }
  .filter-default-middle {
    height: calc(
      100% - var(--filter-side-default-top-height) - var(--bottom-height)
    );
  }
  .filter-more-main-height {
    height: calc(100% - var(--bottom-height));
  }
  .companies-table {
    height: calc(100% - var(--paginator-height));
  }
  .companies-table > div {
    height: 100%;
  }
  .companies-table-expand {
    width: calc(100% - var(--filter-side-default-expand));
  }

  .companies-table-fold {
    width: calc(100% - var(--filter-side-default-fold));
  }

  .paginator {
    height: var(--paginator-height);
  }
}

/** button 樣式 */

@layer components {
  :root {
    --gray: rgb(202, 202, 204, 0.8);
    --light-gray: rgb(240, 240, 242);
    --heavy-gray: rgb(145, 145, 145);
  }
  .hover-gray-pagi {
    @apply w-12 h-8 flex items-center justify-center rounded-md transition;
  }

  .hover-gray-pagi-disable {
    @apply text-gray-300 hover:bg-none;
  }

  .border-button {
    @apply border rounded-md bg-light_gray px-2 py-1 text-center align-middle hover:bg-hover_gray cursor-pointer text-ellipsis overflow-hidden text-nowrap;
  }
  .primary-button {
    @apply border rounded-md bg-blue-600 px-2 py-1 text-center align-middle hover:bg-opacity-75 cursor-pointer text-white text-ellipsis overflow-hidden text-nowrap;
  }

  .text-button {
    @apply rounded-md px-2 py-1 text-center align-middle hover:bg-hover_gray cursor-pointer text-ellipsis overflow-hidden text-nowrap;
  }

  .gradient-button {
    background: linear-gradient(88deg, #21a7eb -20.28%, #a48cfa 119.17%);
    @apply rounded-md px-2 py-1;
  }
}
